{% extends "BoxerBundle::layout.html.twig" %}

{% block Title %}Home{% endblock %}
    
{% block body %}
        <h3 class="mt-5"><strong>{{ boxers|length }}</strong> boxers who have been created!!</h3>

        <hr>

        <ul>
            {% for boxer in boxers %}
                <li>{{ boxer.name }}</li>
            {% endfor %}
        </ul>

        <hr>
        <h3>Gyms:</h3>

        <div class="row my-4">
        {% for gym in gyms %}
        <div class="col-4">
            <h5>{{ gym.name }}</h5>
            <ul>
            {% for boxer in gym.boxers %}
                <li>{{ boxer.name ~" | "~ boxer.email}}</li>
            {% endfor %}
            </ul>
        </div>
        {% endfor %}
        </div>

{% endblock %}
